<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.windowTitle}</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <h:form>
            <h:outputText value="#{msgs.greeting}" styleClass="emphasis"/>
            <br/>
            <!--<h:messages errorClass="errors" layout="table"/>-->
            <h:panelGrid columns="3">
                #{msgs.namePrompt}:
                <h:inputText id="name" value="#{user.name}" required="true"
                             requiredMessage="#{msgs.nameError}"
                             label="#{msgs.namePrompt}" />
                <h:message for="name" errorClass="errors" />
                #{msgs.agePrompt}:
                <h:inputText id="age" value="#{user.age}" required="true"
                             size="3" label="#{msgs.agePrompt}" validatorMessage="#{msgs.ageError}">
                    <f:validateLongRange
                        minimum="16"
                        maximum="100"/>
                </h:inputText>

                <h:message for="age" errorClass="errors"/>
            </h:panelGrid>
            <h:commandButton value="#{msgs.submitPrompt}"/>
        </h:form>
    </h:body>
</html>
